.navbar {
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75) !important;
}

.navbar-menu {
    transition: all .4s ease-in-out;  
}

.navbar-menu.is-active {
    position: absolute;   /* or float: left; width: 100%;*/
    left: 0;
    right: 0;
}