
.ui__button-fab{
    border-radius: 100% !important;
    bottom: 25px !important;
    font-size: 20px !important;
    padding: 15px !important;
    position: fixed !important;
    right: 25px !important;
}