html, body {
    background-color: $first !important;
    height: 100vh;
}

.custom-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: space-evenly;
    width: 100%;
}

.pointer {
    cursor: pointer;
}

