
html, body {
    background-color: $first !important;
    height: 100%;
}

.back-calendar-screen {
    height: 100%;
}

.calendar-container {
    display: flex;
    flex-flow: column;
    height: 100vh;
    background-color: white;
    padding-top: 2em;
    width: 100%;
}


.custom-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    // height: 100vh;
    justify-content: space-evenly;
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.capitalize {
    text-transform: capitalize;
}

.w_is5by10{
    width: 50%;
}

.w_is6by10{
    width: 60%;
}

.w_is7by10{
    width: 70%;
}

.w_is8by10 {
    width: 80%;
}

.w_is9by10 {
    width: 90%;
}

.w_is10by10 {
    width: 100%;
}